/* Estilos da página index.html */
.center {
    text-align: center;
}

.container {
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;    
}

#menu ul {
    padding:20px;
    padding-left: 5%;
    background-color:#a5320f;
}

#menu ul li {
    display:inline;
    padding: 60px;
    
}

#menu li a {
    text-decoration: none;
    color: #e0b12d;
    font-size: 22px;
}
#menu li a:hover {
    color:rgba(42, 172, 204, 0.959)
}

.p-30 {
    padding: 30px;
}

.br-50 {
    border-radius: 50%;
}

.tm-social {
    width: 35px;
    height: 35px;
}

.mb-70 {
    margin-bottom: 70px;
}

.justify{
    text-align: justify;
}

body {
    background-color: #e0b12d;
    color:#a5320f;
    margin: 0%;
}
.size-copy {
    font-size: 16px;
    color: #000000;
    margin-bottom: 0%;
}

.bimg {
    background-color: #a5320f;
    border-radius: 50%;
}

iframe {
    border: 7px solid;
}

.marginEscopo {
    margin-right: 18%;
    margin-left: 18%;
}

h1 {
    padding-right: 105mm;
    padding-top: 30mm;
}

#menu {
    margin-top: 0%;
}


/* Estilos da página contato.html */
.ml-50 {
    margin-left: 50px;
}

input {
    background-color:#d8b659;
}

textarea {
    background-color:#d8b659;
}